// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
#wrapper-static-hero {
  padding-top: 0px;
}

#wrapper-navbar {
  z-index: 2;
  background: transparent;
  left: 0;
  right: 0;
  position: absolute;
}

.wrapper {
  z-index: 1;
}

.navbar {
  padding: 2rem 1rem;
}
.hero-image {
  min-width:100%;
}