// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
$baseFontSize: 16;
$green: #009688;
$blue: #5677fc;
$blueDark: #3b50ce;
$bigFontSize:55px;
$mediumFontSize:22px;
$secondHeader:30px;
$mainColor:#1FDB9B;

$baseFont:'Open Sans', sans-serif;

@import 'https://fonts.googleapis.com/css?family=Open+Sans';


@function rem($val) {
  @return #{$val / $baseFontSize}rem;
}

body {
  font-family: $baseFont;
}
h1,h2,h3,h4,h5 {
  font-family: $baseFont;
}

#wrapper-static-hero {
  padding-top: 0px;
}
.navbar-brand>img {
  width:200px;

}
.navbar-brand img {
  width:200px;
}

#wrapper-navbar {
  z-index: 2;
  background: transparent;
  left: 0;
  right: 0;
  position: absolute;
}

.wrapper {
  z-index: 1;
}

.navbar {
  padding-top: 20px;
}
.hero-image {
  min-width:100%;
}
.stepwizard-step p {
  margin-top: 10px;
}
.stepwizard-row {
  display: table-row;
}
.stepwizard {
  display: table;
  width: 50%;
  position: relative;
}
.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}
.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 0px;
}

.overlay-desc {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 30%; right: 0; bottom: 0; left: 0;
  align-items: center;
  justify-content: center;
}
.video-container {
  position: relative;
}
video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}


@media (min-width: 544px) {
  .hero-title {}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .hero-title {}
}

@media (min-width: 992px) {
.hero-title {
  padding: 50px 10px 50px 10px;
  border: 4px solid #fff;
  text-transform: uppercase;
  color: #fff;
  font-size: $bigFontSize;
}
  .hero-subtitle {
    font-size:$mediumFontSize;
    color: #fff;
    padding-top: 40px;
    font-weight: 400;
  }

}


.home-request label {
  color:#fff;
  line-height: 18px;
}

@charset "UTF-8";
.abc-checkbox {
  padding-left: 5px; }
.abc-checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px; }
.abc-checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #ccc;
  border-radius: 0px;
  background-color: #fff; }
.abc-checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #55595c; }
.abc-checkbox input[type="checkbox"],
.abc-checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1; }
.abc-checkbox input[type="checkbox"]:focus + label::before,
.abc-checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }
.abc-checkbox input[type="checkbox"]:checked + label::after,
.abc-checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: ""; }
.abc-checkbox input[type="checkbox"]:indeterminate + label::after,
.abc-checkbox input[type="radio"]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px; }
.abc-checkbox input[type="checkbox"]:disabled + label,
.abc-checkbox input[type="radio"]:disabled + label {
  opacity: 0.65; }
.abc-checkbox input[type="checkbox"]:disabled + label::before,
.abc-checkbox input[type="radio"]:disabled + label::before {
  background-color: #eceeef;
  cursor: not-allowed; }
.abc-checkbox.abc-checkbox-circle label::before {
  border-radius: 50%; }
.abc-checkbox.checkbox-inline {
  margin-top: 0; }

.abc-checkbox-primary input[type="checkbox"]:checked + label::before,
.abc-checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #0275d8;
  border-color: #0275d8; }

.abc-checkbox-primary input[type="checkbox"]:checked + label::after,
.abc-checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff; }

.abc-checkbox-danger input[type="checkbox"]:checked + label::before,
.abc-checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }

.abc-checkbox-danger input[type="checkbox"]:checked + label::after,
.abc-checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff; }

.abc-checkbox-info input[type="checkbox"]:checked + label::before,
.abc-checkbox-info input[type="radio"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }

.abc-checkbox-info input[type="checkbox"]:checked + label::after,
.abc-checkbox-info input[type="radio"]:checked + label::after {
  color: #fff; }

.abc-checkbox-warning input[type="checkbox"]:checked + label::before,
.abc-checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }

.abc-checkbox-warning input[type="checkbox"]:checked + label::after,
.abc-checkbox-warning input[type="radio"]:checked + label::after {
  color: #fff; }

.abc-checkbox-success input[type="checkbox"]:checked + label::before,
.abc-checkbox-success input[type="radio"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }

.abc-checkbox-success input[type="checkbox"]:checked + label::after,
.abc-checkbox-success input[type="radio"]:checked + label::after {
  color: #fff; }

.abc-checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.abc-checkbox-primary input[type="radio"]:indeterminate + label::before {
  background-color: #0275d8;
  border-color: #0275d8; }

.abc-checkbox-primary input[type="checkbox"]:indeterminate + label::after,
.abc-checkbox-primary input[type="radio"]:indeterminate + label::after {
  background-color: #fff; }

.abc-checkbox-danger input[type="checkbox"]:indeterminate + label::before,
.abc-checkbox-danger input[type="radio"]:indeterminate + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }

.abc-checkbox-danger input[type="checkbox"]:indeterminate + label::after,
.abc-checkbox-danger input[type="radio"]:indeterminate + label::after {
  background-color: #fff; }

.abc-checkbox-info input[type="checkbox"]:indeterminate + label::before,
.abc-checkbox-info input[type="radio"]:indeterminate + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }

.abc-checkbox-info input[type="checkbox"]:indeterminate + label::after,
.abc-checkbox-info input[type="radio"]:indeterminate + label::after {
  background-color: #fff; }

.abc-checkbox-warning input[type="checkbox"]:indeterminate + label::before,
.abc-checkbox-warning input[type="radio"]:indeterminate + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }

.abc-checkbox-warning input[type="checkbox"]:indeterminate + label::after,
.abc-checkbox-warning input[type="radio"]:indeterminate + label::after {
  background-color: #fff; }

.abc-checkbox-success input[type="checkbox"]:indeterminate + label::before,
.abc-checkbox-success input[type="radio"]:indeterminate + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }

.abc-checkbox-success input[type="checkbox"]:indeterminate + label::after,
.abc-checkbox-success input[type="radio"]:indeterminate + label::after {
  background-color: #fff; }

.abc-radio {
  padding-left: 20px; }
.abc-radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px; }
.abc-radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff; }
.abc-radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #55595c;
  transform: scale(0, 0);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.abc-radio input[type="radio"] {
  opacity: 0;
  z-index: 1; }
.abc-radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }
.abc-radio input[type="radio"]:checked + label::after {
  transform: scale(1, 1); }
.abc-radio input[type="radio"]:disabled + label {
  opacity: 0.65; }
.abc-radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed; }
.abc-radio.radio-inline {
  margin-top: 0; }

.abc-radio-primary input[type="radio"] + label::after {
  background-color: #0275d8; }

.abc-radio-primary input[type="radio"]:checked + label::before {
  border-color: #0275d8; }

.abc-radio-primary input[type="radio"]:checked + label::after {
  background-color: #0275d8; }

.abc-radio-danger input[type="radio"] + label::after {
  background-color: #d9534f; }

.abc-radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f; }

.abc-radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f; }

.abc-radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }

.abc-radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }

.abc-radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }

.abc-radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e; }

.abc-radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }

.abc-radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }

.abc-radio-success input[type="radio"] + label::after {
  background-color: #5cb85c; }

.abc-radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c; }

.abc-radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c; }

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: "FontAwesome";
  content: ""; }

input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff; }

input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff; }

.center-block {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.form-control {
  background-clip: border-box;
}
.input-group.request-input
{
  padding-top: 30px;
span {
  background-color: #fff;
  border-radius:0px;

}
  button.btn-success {
    border-radius:0px;
    background-color:$mainColor;
  }
}

#benefits {
border:3px solid $mainColor;
padding:30px;
  .title {
    text-transform:uppercase;
    font-size:$bigFontSize;
    color:$mainColor;
    margin-bottom:50px;
  }
  .benefit-icon img {
    margin-left:auto;
    margin-right:auto;
    display:block;
    width: 100px;
  }
  .benefit h4 {
    font-size: 16px;
    color: $mainColor;
    margin-top: 30px;
    line-height: 30px;
  };
  .benefit {
    margin-left:auto;
    margin-right:auto;
    display:block;
  }

}

#partners {
  .title {
    margin-bottom:30px;
    font-size:$secondHeader;
  }

}
.border-grid {
  border:3px solid #fff;
  padding:50px;

}
#testimonials {
  padding:60px;


  background-color:$mainColor;
  img {
    width:120px;
  }
  h1,h2,h3,h4,h5{
    color:#fff;
  }
  h2 {
    font-size:$bigFontSize; //TODO make all the header THIS SIZE everywhere .. now its chaotic
    text-transform:uppercase;
  }
  h5 {
    margin-bottom:60px;
    font-weight:300;
    font-size:$mediumFontSize;
  }
  p {
    color:#333;
    font-style: italic;
    font-weight:100;
    font-size:15px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
  }
  .testimonial {
    h4 {
      font-size:15px;
      color:#333;
      font-style:italic;
      text-align:center;
    }

  .testimonial_image img {
    margin-left:auto;
    margin-right:auto;
    display:block;
    border-radius:100%;
    margin-bottom: 40px;
  }
  .description {
    min-height:100px;
    background-image: url(http://localhost/airteam/wp-content/uploads/2016/10/icon_testimonial.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
  }
  }
}
#medias {
  .media {

    h4 {
      font-size:15px;
      text-transform:uppercase;
      color:#fff;
      font-weight:600;
      position: absolute;
      bottom: 0;
      padding: 10px;

    }
  }

}
.btn-contact {
  background-color:$mainColor;
  border-radius:0px;
  border:1px solid $mainColor;
  font-size:17px;
  &:hover {
    background-color:#fff;
    border:1px solid $mainColor;
    color:$mainColor;
  }
}
.contact-section {
  h3 {
    font-size:$secondHeader;
    color:#4D4D4D;
  }
  p {
    font-size:15px;
    color:#333;
  }
}
.info-section {
 padding-top:5rem;
}

.open-modal {
  display: block;
  padding-top: .425rem;
  padding-bottom: .425rem;
  width: auto;
  display: inline;
  float:left;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border:2px solid #fff;
  font-size:15px;
  color:#fff;
  font-weight:600;
  padding-left:10px;
  padding-right:10px;
}
.menu-item {
  font-size:15px;
  font-weight:600;
}

.modal-dialog {
  max-width:100%;
  margin: auto;
  .modal-header {
    border-bottom:none;
  }
}
.how-it-works {
  .how-it-works-image {

    img {
      width:150px;
      margin-left:auto;
      margin-right:auto;
      display:block;
    }
  }
  h1 {
    color:$mainColor;
    font-size:$bigFontSize;
  }
  h2 {
    color:#333;
    font-size:22px;
    span {
      color:$mainColor;
    }
  }
  p {
    font-size:15px;
    color:#333;
  }

}

button.close {
  color:$mainColor;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1;
  text-shadow: none;
  opacity: .2;

}

a:focus, a:hover {
  color:$mainColor;
  text-decoration:none;
}
#wrapper-footer-full, #wrapper-static-hero {
  background-color:transparent;
}

.page-template-contact .navbar {
  background-color:#333;
}
.stepwizard-step {
  .btn-primary {
    background-color: #333;

  }
  .btn-circle {
    background-color: #333;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
  }

}
.stepwizard-row:before {
  background-color:transparent;
}
.stepwizard-step {
  width:100px;
}