// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
$baseFontSize: 16px;
$green: #009688;
$blue: #5677fc;
$blueDark: #3b50ce;
$bigFontSize: 55px;
$mediumFontSize: 22px;
$secondHeader: 30px;
$thirdHeader:28px;
$mainColor: #1FDB9B;
$mainBlack:#101011;
$mainGrey:#B3B3B3;
$secondBlack:#333;
$baseFont: 'Open Sans', sans-serif;

@function rem($val) {
  @return #{$val / $baseFontSize}rem;
}

body {
  font-family: $baseFont;
}
// link color
a {
  color:$mainColor;

}
h1, h2, h3, h4, h5 {
  font-family: $baseFont;
}
h2 {
  font-size:28px;
  color:#4D4D4D;
  margin-bottom:2rem;
}
#wrapper-static-hero {
  padding-top: 0px;
}

.navbar-brand > img {
  width: 50%;

}
.navbar-brand img {
  width: 200px;
}

#wrapper-navbar {
  z-index: 2;
  background: transparent;
  left: 0;
  right: 0;
  position: absolute;
}

.wrapper {
  z-index: 1;
}

.navbar {
  padding-top: 20px;
}

.hero-image {
  min-width: 100%;
}

.stepwizard-step p {
  margin-top: 10px;
}

.stepwizard-row {
  display: table-row;
}

.stepwizard {
  display: table;
  width: 50%;
  position: relative;
}

.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 0px;
  border:0;
}

.overlay-desc {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 30%;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index:2;
}

.video-container {
  position: relative;
}

video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}


.home-request label {
  color: #fff;
  line-height: 18px;
}

@charset "UTF-8";
.abc-checkbox {
  padding-left: 5px;
}

.abc-checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

.abc-checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #ccc;
  border-radius: 0px;
  background-color: #fff;
}

.abc-checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #55595c;
}

.abc-checkbox input[type="checkbox"],
.abc-checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
}

.abc-checkbox input[type="checkbox"]:focus + label::before,
.abc-checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.abc-checkbox input[type="checkbox"]:checked + label::after,
.abc-checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "";
  color: $mainColor;
  font-size: 15px;
  top: -2px;
  left: -2px;
}

.abc-checkbox input[type="checkbox"]:indeterminate + label::after,
.abc-checkbox input[type="radio"]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}

.abc-checkbox input[type="checkbox"]:disabled + label,
.abc-checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}

.abc-checkbox input[type="checkbox"]:disabled + label::before,
.abc-checkbox input[type="radio"]:disabled + label::before {
  background-color: #eceeef;
  cursor: not-allowed;
}

.abc-checkbox.abc-checkbox-circle label::before {
  border-radius: 50%;
}

.abc-checkbox.checkbox-inline {
  margin-top: 0;
}

.abc-checkbox-primary input[type="checkbox"]:checked + label::before,
.abc-checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #fff;
  border-color: #fff;
}

.abc-checkbox-primary input[type="checkbox"]:checked + label::after,
.abc-checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff;
}

.abc-checkbox-danger input[type="checkbox"]:checked + label::before,
.abc-checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

.abc-checkbox-danger input[type="checkbox"]:checked + label::after,
.abc-checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff;
}

.abc-checkbox-info input[type="checkbox"]:checked + label::before,
.abc-checkbox-info input[type="radio"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.abc-checkbox-info input[type="checkbox"]:checked + label::after,
.abc-checkbox-info input[type="radio"]:checked + label::after {
  color: #fff;
}

.abc-checkbox-warning input[type="checkbox"]:checked + label::before,
.abc-checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.abc-checkbox-warning input[type="checkbox"]:checked + label::after,
.abc-checkbox-warning input[type="radio"]:checked + label::after {
  color: #fff;
}

.abc-checkbox-success input[type="checkbox"]:checked + label::before,
.abc-checkbox-success input[type="radio"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.abc-checkbox-success input[type="checkbox"]:checked + label::after,
.abc-checkbox-success input[type="radio"]:checked + label::after {
  color: #fff;
}

.abc-checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.abc-checkbox-primary input[type="radio"]:indeterminate + label::before {
  background-color: #0275d8;
  border-color: #0275d8;
}

.abc-checkbox-primary input[type="checkbox"]:indeterminate + label::after,
.abc-checkbox-primary input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.abc-checkbox-danger input[type="checkbox"]:indeterminate + label::before,
.abc-checkbox-danger input[type="radio"]:indeterminate + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

.abc-checkbox-danger input[type="checkbox"]:indeterminate + label::after,
.abc-checkbox-danger input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.abc-checkbox-info input[type="checkbox"]:indeterminate + label::before,
.abc-checkbox-info input[type="radio"]:indeterminate + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.abc-checkbox-info input[type="checkbox"]:indeterminate + label::after,
.abc-checkbox-info input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.abc-checkbox-warning input[type="checkbox"]:indeterminate + label::before,
.abc-checkbox-warning input[type="radio"]:indeterminate + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.abc-checkbox-warning input[type="checkbox"]:indeterminate + label::after,
.abc-checkbox-warning input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.abc-checkbox-success input[type="checkbox"]:indeterminate + label::before,
.abc-checkbox-success input[type="radio"]:indeterminate + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.abc-checkbox-success input[type="checkbox"]:indeterminate + label::after,
.abc-checkbox-success input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.abc-radio {
  padding-left: 20px;
}

.abc-radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

.abc-radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}

.abc-radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #55595c;
  transform: scale(0, 0);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.abc-radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
}

.abc-radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.abc-radio input[type="radio"]:checked + label::after {
  transform: scale(1, 1);
}

.abc-radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}

.abc-radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}

.abc-radio.radio-inline {
  margin-top: 0;
}

.abc-radio-primary input[type="radio"] + label::after {
  background-color: #0275d8;
}

.abc-radio-primary input[type="radio"]:checked + label::before {
  border-color: #0275d8;
}

.abc-radio-primary input[type="radio"]:checked + label::after {
  background-color: #0275d8;
}

.abc-radio-danger input[type="radio"] + label::after {
  background-color: #d9534f;
}

.abc-radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f;
}

.abc-radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f;
}

.abc-radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}

.abc-radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}

.abc-radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}

.abc-radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e;
}

.abc-radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e;
}

.abc-radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e;
}

.abc-radio-success input[type="radio"] + label::after {
  background-color: #5cb85c;
}

.abc-radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c;
}

.abc-radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: "FontAwesome";
  content: "";
  color:$mainColor;
}

input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff;
}

input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff;
}

.center-block {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  background-clip: border-box;
}

.input-group.request-input {
  padding-top: 30px;
  span {
    background-color: #fff;
    border-radius: 0px;

  }
  button.btn-success {
    border-radius: 0px;
    background-color: $mainColor;
  }
}

#benefits {
  border: 3px solid $mainColor;
  padding: 30px;
  .title {
    text-transform: uppercase;
    font-size: $bigFontSize;
    color: $mainColor;
    margin-bottom: 50px;
  }
  .benefit-icon img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100px;
  }
  .benefit h4 {
    font-size: 16px;
    color: $mainColor;
    margin-top: 30px;
    line-height: 30px;
  }
;
  .benefit {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

}

#partners {
  .title {
    margin-bottom: 30px;
    font-size: $secondHeader;
  }
  .partner {
    padding-left: 20px;
    padding-right: 20px;
  }

}

.border-grid {
  border: 3px solid #fff;
  padding: 50px;

}

#testimonials {
  padding: 60px;

  background-color: $mainColor;
  img {
    width: 120px;
  }
  h1, h2, h3, h4, h5 {
    color: #fff;
  }
  h2 {
    font-size: $bigFontSize; //TODO make all the header THIS SIZE everywhere .. now its chaotic
    text-transform: uppercase;
  }
  h5 {
    margin-bottom: 60px;
    font-weight: 300;
    font-size: $mediumFontSize;
  }
  p {
    color: #333;
    font-style: italic;
    font-weight: 100;
    font-size: 15px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
  }
  .testimonial {
    h4 {
      font-size: 15px;
      color: #333;
      font-style: italic;
      text-align: center;
    }

    .testimonial_image img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      border-radius: 100%;
      margin-bottom: 40px;
    }
    .description {
      min-height: 125px;
      background-image: url(/wp-content/themes/airteam.camera/assets/static/icon_testimonial.png);
      background-size: 100px 100px;
      background-repeat: no-repeat;
    }
  }
}

#medias {
  .media {

    h4 {
      font-size: 15px;
      text-transform: uppercase;
      color: #fff;
      font-weight: 600;
      position: absolute;
      bottom: 0;
      padding: 10px;

    }
  }

}

.btn-contact {
  background-color: $mainColor;
  border-radius: 0px;
  border: 1px solid $mainColor;
  font-size: 17px;
  &:hover {
    background-color: #fff;
    border: 1px solid $mainColor;
    color: $mainColor;
  }
}
.btn-contact.black {
  background-color:#1A1A1A;
}

.contact-section {
  h3 {
    font-size: $secondHeader;
    color: #4D4D4D;
    font-weight:600;
  }
  p {
    font-size: 15px;
    color: #333;
  }
}

.info-section {
  padding-top: 5rem;
}

.open-modal {
  margin-left: 48%;
  display: block;
  padding-top: .425rem;
  padding-bottom: .425rem;
  width: auto;
  display: inline;
  float: left;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border: 1px solid #fff;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
}

.menu-item {
  font-size: 15px;
  font-weight: 600;
}

.modal-dialog {
  max-width: 100%;
  margin: auto;
  .modal-header {
    border-bottom: none;
  }
}

.how-it-works {
  .how-it-works-image {

    img {
      width: 150px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
  h1 {
    color: $mainColor;
    font-size: $bigFontSize;
  }
  h2 {
    color: #333;
    font-size: 22px;
    span {
      color: $mainColor;
    }
  }
  p {
    font-size: 15px;
    color: #333;
  }

}

button.close {
  color: $mainColor;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1;
  text-shadow: none;
}

a:focus, a:hover {
  color: $mainColor;
  text-decoration: none;
}

#wrapper-footer-full, #wrapper-static-hero {
  background-color: transparent;
}
#wrapper-footer-full {
  border-top:2px solid $mainColor;
}
.padding-0 .col-md-4{
  padding:0px;
}
.home-request {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.page-template-standard-contact .navbar {
  background-color: #333;
}
.page-template-contact .navbar {
}
.page-template-pilot .navbar {
  background-color: #333;
}
.page-template-thankyou .navbar {
  background-color: #333;
}
.blog .navbar, .single .navbar {
  background-color: #333;
}

.stepwizard-step {
  .btn-primary {
    background-color: #333;

  }
  .btn-circle {
    background-color: #333;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
  }

}

.stepwizard-row:before {
  background-color: transparent;
}

.stepwizard-step {
  width: 100px;
}

.abc-checkbox {
  padding-right: 5px;
}

.input-group-lg.request-input input[name="record_place"] {
  padding-right: 10px;
  padding-left: 10px;
}

/* Footer */
#menu-footer {
  .menu-item {
    margin-right: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    a {
      color: #fff;
    }
  }
}

#wrapper-footer-full .text-widget {
  color: #fff;
}

#wrapper-footer-full, #wrapper-footer {
  background-color: #101011;
}

.footer-widget {
  padding-bottom: 30px;
  text-align:center;
  ul {
    display: inline-block;
  }
  .textwidget {
    color:#B3B3B3;
    font-size:13px;
    line-height:25px; /* backcheck this */
    width:75%;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  .social-menu {
    li {
      float: left;
      width: auto;
      display: inline;
      margin-right:7.5px;
      margin-left:7.5px;
      a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: $mainColor;
        border-radius: 100%;
        font-size:20px;
        color:$mainBlack;
        &:hover {
          color:#fff;
        }
      }
    }
  }
}
.faq-title.selected {
  border-bottom:none;
}

.faq-title {
  border-bottom:1px solid $mainGrey;


  padding-bottom:20px;
  &:focus {

  }
  a {
    font-size:19px;
    color:$mainBlack;

  }
  i {
    color: #1fdb9b;
    float: right;
    margin-top: 3px;
    font-size: 25px;
  }
  a:focus, a:hover {
    color:$mainColor;
  }
}
.faq-description {
  font-size:15px;
  color:$secondBlack;
}
.collapse.in {
  border-top:none;
}
.collapse {
}
.ptsEditArea.ptsInputShell {
  color:#fff;
  text-transform:uppercase;
}
.ptsActBtn.ptsEl.ptsElInput {
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 17px;
  padding: 5px 10px;
}
.ptsEl p {
  font-size:14px;
}
.ptsColHeader {
  padding-bottom:0px!important;
}

.pricing-list {
  color:$mainColor;
}


//** TEAM PAGE **//

#main-team {
  img {

  }
  p.description {
    font-size:15px;
    color:#333;
  }
  h4.team-title {
    font-size:30px;
  }

  .team-image {
    height:367px;
    padding: 20px;
  }
  .team-border {
    height: 367px;
    width: 392px;
    z-index: 1;
    position: absolute;
    left: 10%;
    right: 40%;
    top: 0;
    border: 1px solid $mainColor;
    .team-info {
      position: absolute;
      left: 0;
      bottom: 0;
      background-color:$mainColor;
      color:$secondBlack;
      font-size:15px;
      padding:10px;
      h5 {
        font-size:15px;
      }
    }
  }
  .team-about {
    h2 {
    font-size:30px;
      margin-bottom:40px;
      line-height:50px;
    }
    p {
    font-size:15px;
      line-height:25px;
    }
  }
}
#team {
  padding:60px;
  .title {
    font-size:$bigFontSize;
    color:#fff;
    margin-bottom:50px;
    text-transform:uppercase;
  }
  .team-content {
    border: 3px solid #fff;
    padding: 50px;
  }
  .team.image {
    position:relative;
    img {
      width:278px;
    }

  }
  .team-overlay {
    position: absolute;
    z-index: 1;
    left: 0px;
    bottom: 0;
    padding: 10px;
    background-color:rgba(255,255,255,0.8);
    color:$secondBlack;
    width:100%;
    h4 {
      font-size:15px;
      margin-bottom:5px;
    }
    span {
      font-size:15px;
    }
  }

  .team {
    margin-bottom:40px;
  }

}
.background-color-main {
  background-color:$mainColor;
  margin-bottom: -40px;
  padding-bottom:40px;
}

.overlay-static {
  background: transparent;
  position: absolute;
  top: 25%;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: $bigFontSize;
    color:#fff;
    text-transform:uppercase;
  }
  .border-text-bottom {
    width: 80px;
    height: 2px;
    background: $mainColor;
  }
}
.static-header {
  max-height: 377px;
}
.video-container {
  iframe {
    zoom: 0.95;
  }
}
.overlay-video {
  width: 100%;
  height: 713px;
  position: absolute;
  z-index: 1;
  left: 0;
  background-color: rgba(0,0,0,0.3);
}

/* pilot template */

.pilot_form {
  border:2px solid $mainColor;
  padding: 40px 50px;
  h1 {
    font-size:$thirdHeader;
  }
  p {
    font-size:15px;
  }
  label {
  }
  .form-control {
    border-radius:1px;
  }
  .form-check-input {
    margin-left: 0.5rem;
  }
  .form-group {
    margin-top:2rem;
    margin-bottom:2rem;
  }
  .form-control {
    border-radius: 1px;
  }
  .custom-control-description {
    text-transform:none;
    font-weight:normal;
  }
}

.filter-media {
  padding-bottom:20px;
  .filter-image, .filter-video, .toggle {
    float:left;
    padding-left:0px;
    padding-right:0px;
    font-size: 15px;
  }
  .filter-image.col-md-2 {
    padding-left:10px;
  }

}
.media iframe {
  height: 400px;
  zoom: 0.49;
}
.media {
  transition: visibility 0s, opacity 0.5s linear;
}
.big-label {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
}
.setup-content {
  .form-check-input {
    margin-left: 0.5rem;
  }
  .form-group {
    margin-top:2rem;
    margin-bottom:2rem;
  }
  .form-control {
    border-radius: 1px;
  }
  .nextBtn, .submitBtn {
    background-color:$mainColor;
    border-color:$mainColor;
    border-radius:1px;
    color:#fff;
    font-size: 17px;
    text-transform: uppercase;
    &:hover {
      color:$mainColor;
      background-color:#fff;
      border: 1px solid;
    }
  }
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success.focus, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .btn-success:focus, .btn-success:hover, .open>.btn-primary.dropdown-toggle.focus, .open>.btn-primary.dropdown-toggle:focus, .open>.btn-primary.dropdown-toggle:hover, .open>.btn-success.dropdown-toggle.focus, .open>.btn-success.dropdown-toggle:focus, .open>.btn-success.dropdown-toggle:hover {
  color:$mainColor;
 }.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success.focus, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .btn-success:focus, .btn-success:hover, .open>.btn-primary.dropdown-toggle.focus, .open>.btn-primary.dropdown-toggle:focus, .open>.btn-primary.dropdown-toggle:hover, .open>.btn-success.dropdown-toggle.focus, .open>.btn-success.dropdown-toggle:focus, .open>.btn-success.dropdown-toggle:hover
.submitBtn {
  background-color:$mainColor;
  border-radius:1px;
  color:#fff;
  border:none;
  font-size: 17px;
  text-transform: uppercase;
}
.form-control {
  border-radius: 1px;
}
.center-block button {
  float: none;
  margin-left: auto;
  margin-right: auto;
  display:block;
}

.request-offer {
  padding: 40px;
  border: 2px solid $mainColor;

  .record-place {
    border-left:0px;
    &:hover, &:focus {
      border-left:0;
      border:1px solid rgba(0,0,0,.15);

    }
  }
}
.thank-you {
  background-color:$mainColor;
  .thank-you-text {
    color:#fff;
    h4 {
      font-size:28px;
    }
  }
  .monkey-image {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}
form {
  .form-check-label {
    font-size:15px;
  }
}

/* responsiveness */


@media (max-width: 768px) {
  .hero-title {
    padding: 25px 5px;
    border: 2px solid #fff;
    text-transform: uppercase;
    color: #fff;
    font-size: 27px;
  }
  .hero-subtitle {
    font-size: $baseFontSize;
    color: #fff;
    padding-top: 20px;
    font-weight: 400;
  }
  #benefits h2.title, #testimonials h2.title {
    font-size:27px;
  }
  .abc-checkbox {
    float:left;
    label {
      font-size:10px;
    }


  }
  #main-team {
    .team-border {
      height:100%;
      width: 306px;
    }
    img {
      height:100%;

    }

  }

  #team {
    padding:20px;
    .title {
      font-size:25px;
    }
  }
  .static-header {
    min-height:100%;
    img {
      height: 200px;
      object-fit: cover;
    }
  }
  .overlay-static {
    display:none;
  }
  .modal .how-it-works h1 {
    font-size:27px;
  }
  .home-request {
    .input-group.request-input {
      #sizing-addon1 {
        display:none;
      }
      font-size: 10px;
      i {
        display:none;
      }
      button.btn-success {
        font-size:10px;
      }
      input {
        font-size:10px;
        border-radius:0px;
      }
    }
  }
  .pilot_form, .request-offer {
    margin-top:30px;
  }
  .request-offer {
    .input-group.request-input {
      padding-top:0px;
    }
  }
  .stepwizard {

    width: 100%;
    .stepwizard-step {
      width:150px;
    }
  }
  #testimonials.row {
    padding:20px;
    .border-grid {
      padding:20px;
    }
    .testimonial {
      margin-bottom:25px;
    }
    p {
      padding-left:0px;
      padding-right:0px;
    }
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .hero-title {
    padding: 25px 5px;
    border: 2px solid #fff;
    text-transform: uppercase;
    color: #fff;
    font-size: 27px;
  }
  .hero-subtitle {
    font-size: $baseFontSize;
    color: #fff;
    padding-top: 20px;
    font-weight: 400;
  }
}

@media (min-width: 992px) {
  .hero-title {
    padding: 50px 10px 50px 10px;
    border: 4px solid #fff;
    text-transform: uppercase;
    color: #fff;
    font-size: $bigFontSize;
  }
  .hero-subtitle {
    font-size: $mediumFontSize;
    color: #fff;
    padding-top: 40px;
    font-weight: 400;
  }

}

.owl-carousel .owl-item img {
  display: block;
  max-width: 100%;
  -webkit-transform-style: preserve-3d;
  height: 80px;
  object-fit: scale-down;
}
.owl-dots {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50px;
  margin-top: 35px;
}
.owl-dot {
  width: 10px;
  height: 10px;
  background: #333;
  display: inline-block;
  margin: 5px;
  border-radius:100%;
}
.owl-dot.active {
  opacity:0.5;
}
.toggle-group {

}
.filter-media {
  margin-bottom:60px;
  font-weight:600;
  text-transform:uppercase;
  .filter-image {

    img {
      margin-right: 15px;
      width: 25px;
    }
  }
  .filter-video {
    img {
      margin-right: 15px;
      width: 25px;
    }
  }
}
#yt {
  position:relative;
  cursor:pointer;
  width:500px;
  height:500px;
}
#load-more {
  background-color:$mainBlack;
  color:#fff;
  border:$mainBlack;
  border-radius:0px;
  margin-top:40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 60%;
  text-transform:uppercase;
  &:hover {
    opacity:0.8;
}
}
.filter-media .toggle.btn {
  margin-left: 10px;
  margin-right: 10px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  background:#333;
  min-width: 40px;
  min-height: 25px;
  width:40px!important;
  height:25px!important;
  .toggle-on.btn {
    border-radius: 100%;
    left:-60%;
    padding-right: 15px;

  }
  .toggle-off.btn {
    border-radius: 100%;
    padding-left: 8px;
    color:transparent;
  }
}

.toggle-on {
  width: 20px;
  border-radius: 100%;
  background: #fff;
  border: none;
}
.toggle-off {
  width: 20px;
  border-radius: 100%;
  background: #fff;
  border: none;
  right:0;

}
.active.toggle-off {

}
.btn-default.off .toggle-on {
  left:50%;
}
.toggle.btn.btn-primary .toggle-off {
  left: 25%;
}
.toggle.btn {
  border: 1px solid #333;
}

/* blog */
.post-image img{
  min-width: 100%;
  object-fit: cover;
  height: 500px;
}

.entry-header {
  margin-top:15px;
}
.btn.btn-secondary {
  color:#fff;
  background-color:$mainBlack;
  border-radius:0px;
  &:hover {
    background-color:#fff;
    color:$mainBlack;
    border:1px solid $mainBlack;
  }
}
.entry-meta {
  padding-bottom:10px;
  margin-top:25px;
  .posted-on {
    margin-right:10px;
  }
}

.contact {
  width: auto;
  display: inline;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  color: #fff;
  padding: .425rem 10px;
  font-size: 15px;
  font-weight: 600;
  .dropdown-toggle {
    color:#fff;
    &:after {
      display:none;
    }
  }
  .dropdown-item {
    font-weight: 600;
    font-size:15px;
    text-transform:uppercase;
    padding-top:10px;
    padding-bottom:10px;
    i {
      margin-right:25px;
      font-size:25px;
      color:$mainColor;
    }
  }
  .dropdown-item:last-child {
    border-top:1px solid #ededed;
  }
}
.navbar-dark .dropdown-menu {
  background-color: #fff;
  color: #333;
  border-radius: 0px;
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}
.navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link, .open-modal, .contact {
  color:#fff;
  font-size:15px;
  font-weight: 400;
}
.col-md-1.filter-image, .col-md-1.filter-video {

}
.onoffswitch {
  position: relative; width: 84px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 36px; padding: 0; line-height: 36px;
  border: 2px solid #CCCCCC; border-radius: 36px;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
  content: "";
  display: block; width: 36px; margin: 0px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  left:50px;
  right: 46px;
  border: 2px solid #CCCCCC; border-radius: 36px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #333333;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #333333;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  left: 0px;
}

.media {
  &:hover {
    opacity:0.8;
  }
i {
  top: 55%;
  left: 50%;
  position: absolute;
  margin-left: -25px;
  margin-top: -30px;
  font-size: 45px;
  color: #fff;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}
}
// ** BLOG ** //

.entry-meta {
  display: none;
}

// ** button ** //

.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.btn-success.dropdown-toggle.focus, .open>.btn-success.dropdown-toggle:focus, .open>.btn-success.dropdown-toggle:hover {
  background-color: #fff;
  border-color:$mainColor;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.btn-primary.dropdown-toggle.focus, .open>.btn-primary.dropdown-toggle:focus, .open>.btn-primary.dropdown-toggle:hover {
  background-color: #fff;
  border-color:$mainColor;
}
.btn-success.focus, .btn-success:focus, .btn-success:hover {
  background-color: #fff;
  border-color:$mainColor;
}
.btn-success.active, .btn-success:active, .open>.btn-success.dropdown-toggle {
  background-color:#fff;
  color:$mainBlack;
}
.btn-contact.black:hover {
  background-color:#fff;
  color:$mainBlack;
}
.special-background {
  background-color: $mainColor;

}
.contact_form {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
  textarea, input {
    background-color:transparent;
    border-color:#fff;
  }
  .submitBtn {
    background-color:$mainBlack;
    margin-top:30px;
  }
  .big-label {
    color:#fff;
    font-weight:normal;

  }
}
.special.border-grid {
  border-color:$mainColor;
  margin:50px;
  div.contact-text, a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:200px;
  }
  .contact-icon {
    width: 150px;
    min-height:150px;
  }

  h1 {
    font-size:55px;
    color:$mainColor;
    font-weight:normal;
    padding-bottom:25px;
    text-transform:uppercase;
  }
}

.form-map {
  iframe {
    width:100%;
  }
  .col-md-6.map {
    padding:0px;
  }
}
.page-template-contact .wrapper {
  padding-bottom:0px;
}

.type-page {
  .entry-title {
    display:none;
  }

}
#pricing {
  .title {
    font-size:15px;
    margin-bottom:35px;
  }

}
.pricing-table {
  border:2px solid $mainColor;
  padding: 50px 10px;
  text-align: center;
  min-height:850px;
  .pricing-head {
    min-height:85px;
    h3 {
      font-size:26px;
      font-weight:bold;
      text-transform:uppercase;
    }
    p {
    font-size:15px;
      font-weight:normal;
    }
  }
  ul.sub-list {
    padding-left:25%;
    list-style:none;


    li {
      margin-bottom:5px!important;
      position: relative!important;
      padding-left: 0px!important;
      font-size:12px;
      text-align:left;
    }
    li:before {
      content:''!important;
      padding-right: 0px;
    }
  }
  ul.list-inclusive {
    padding-left:0px;
    list-style:none;
    text-align:left;
    li {
      margin-bottom:20px;
      position: relative;
      padding-left: 24px!important;
      display: inline-flex;
    }
    li:before {
      content: "◼";
      padding-right: 20px;
      margin-right: 0px;
      display: inline-flex;
      color: $mainColor;
      font-size: 12px;
    }
  }


  .price-label {
    color:$mainColor;
    font-size:$bigFontSize;
    margin-bottom:25px;
    .small {
      font-size:26px;
      margin-right:5px;
    }
    .top {
      font-size:26px;
      position: relative;
      top: -21px;
      font-weight:lighter;
    }
  }
  .btn {
    margin-bottom:25px;
    text-transform:uppercase;
    &:hover {
      background-color:#fff;
      color:$mainColor;
    }
  }

  .inclusive {
    font-weight:bold;
    margin-bottom:25px;
  };
}


.flipswitch {
  position: relative;
  width: 50px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}
.flipswitch input[type=checkbox] {
  display: none;
}
.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 50px;
}
.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  -moz-transition: margin 0.3s ease-in 0s;
  -ms-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.flipswitch-inner:before, .flipswitch-inner:after {
  float: left;
  width: 50%;
  height: 26px;
  padding: 0;
  line-height: 26px;
  font-size: 18px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.flipswitch-inner:before {
  content: "";
  padding-left: 12px;
  background-color: #333333;
  color: #FFFFFF;
}
.flipswitch-inner:after {
  content: "";
  padding-right: 12px;
  background-color: #333333;
  color: #888888;
  text-align: right;
}
.flipswitch-switch {
  width: 24px;
  margin: 1px;
  background: #FFFFFF;
  border: 1px solid #999999;
  border-radius: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 22px;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: 0;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 0;
}


/* Requred forms */

.fa-asterisk {
  font-size: 11px;
  bottom: 7px;
  position: relative;
  font-size: 13px;
  margin-bottom: 4px;
  bottom: 5px;
  position: relative;
  color: #FF0000;
}

.address-group {
  input {
    margin-bottom:10px;
  }
}

.special-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
.special-block-0 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.has-error {
  border-bottom: 1px solid #FF0000;
}